@{
    ViewBag.Title = "Trang chủ";
}

<div class="row" >
    <div class="info-home">
        <h1>PHÒNG ĐÀO TẠO - TRƯỜNG ĐẠI HỌC TRÀ VINH</h1>
        <h2>Khu nhà Hiệu bộ - Số 126 Nguyễn Thiện Thành - khóm 4, phường 5, TP Trà Vinh, tỉnh Trà Vinh</h2>
        <h2>Điện thoại: (0294) 3765536 - 3765668 - 3855247 (0294) 3855246 (Số nội bộ: 142, 157)</h2>
        <h2>Hotline 1: 0945 466 141 | Hotline 2: 0942 717 353 | Hotline 3: 0923 998 646</h2>
        <h2>Email: daotao@tvu.edu.vn</h2>
    </div>
</div>